body {
    padding: 0 128px 0 145px;
}

/*ALL TEXT THROUGHOUT WEBSITE*/
.text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.subheadings {
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    font-weight: 700;
    margin-bottom: 50px;
}

.product-subheading {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}

.under-subheading {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*NAVIGATION BAR*/
.header-nav {
    font-size: 14px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Left nav*/
.left-nav {
    margin-top: 24px;
    display: inline-block;
}

.left-nav-item a {
    text-decoration: none;
    color: #2F281E;
    margin-right: 15px;
}

/*Right nav*/
.right-nav {
    margin-top: 15px;
    display: inline-block;
}

.sign-in-btn {
    color: #173A56;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 102px;
    height: 46px;
    background-color: white;
    border: 1px solid rgb(132, 146, 184);
    border-radius: 4px;
    margin-right: 15px;
}

.sign-up-btn {
    width: 110px;
    height: 46px;
    border-radius: 4px;
}

.sign-up-btn, .start-btn, .sign-up-now-btn, .sign-up-now-btn-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #FF9900;
    color: white;
    border: none;
    border-radius: 5px;
}

.left-nav li, .right-nav li {
    display: inline-block;
}

/*Logotype*/
.logo {
    width: 185px;
    height: 32px;
    margin-top: 22px;
    display: inline-block;
}

/*FIRST SECTION*/
.first-section {
    display: flex;
    margin-bottom: 100px;
}

.main-title {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-top: 211px;
    margin-bottom: 50px;
    width: 518px;
    height: 108px;
}

.main-info {
    max-width: 458px;
    width: 518px;
    height: 108px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.first-div-first-section {
    max-width: 605px;
}

.second-div-first-section {
    margin-top: 128px;
}

.start-btn {
    width: 175px;
    height: 53px;
    left: 145px;
    top: 489px;
}

.play-image {
    height: 17px;
}

.watch-btn {
    width: 161px;
    height: 23px;
    left: 350px;
    top: 504px;
    color: #FF9900;
    background-color: white;
    border: none;
}

/*SECOND SECTION*/
.second-section {
    margin-bottom: 100px;
}

.first-div-second-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tool-title {
    max-width: 539px;
    /* align text center  */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.tool-icon {
    width: 50px;
    height: 50px;
}

.tool-bar {
    display: flex;
    justify-content: space-around;
}

.tool {
    flex-direction: column;
    max-width: 178px;
}

.tool img h3 p {
    justify-items: start;
}

.sign-up-now-btn {
    width: 175px;
    height: 53px;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
}

/*THIRD SECTION*/
.third-section {
    display: flex;
    display: row;
    margin-bottom: 100px;
}

.first-div-third-section {
    flex-direction: column;
    max-width: 486px;
    margin-right: 100px;
}

/*FOURTH SECTION*/
.fourth-section {
    display: flex;
    margin-bottom: 100px;
}

.first-div-fourth-section {
    margin-right: 100px;
}

.third-div-fourth-section {
    margin-bottom: 30px;
}

.fourth-div-fourth-section {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.fourth-div-fourth-section li {
    display: flex;
    margin-bottom: 30px;
}

.fourth-div-fourth-section img {
    height: 35px;
    width: 35px;
    margin-right: 40px;
}

/*FIFTH SECTION*/
.fifth-section {
    display: flex;
    margin-bottom: 100px;
}

.first-div-fifth-section {
    max-width: 486px;
    margin-right: 100px;
}

/*FOOTER*/
footer {
    justify-content: space-between;
    margin-bottom: 100px;
}

.first-div-footer {
    display: flex;
    justify-content: flex-end;
}

.first-div-footer div {
    margin-right: 50px;
}

.first-div-footer div {
    display: flex;
    justify-content: space-between;
}

.footer-list-one, .footer-list-two {
    padding: 0;
    list-style-type: none;
}

.footer-list-one li, .footer-list-two li {
}

.sign-up-now-btn-2 {
    width: 131px;
    height: 39px;
}

input[type=text] {
    padding: 10px;
    width: 325px;
    margin-bottom: 10px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
  }